.container {
    width: 100%;
    background: linear-gradient(314deg, #5e3838a9, #000000a9), url(./2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    padding: 5rem 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h1 {
    padding-top: 6rem;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    color: #fff;
    margin-bottom: 30px;
}
